<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/comfort.css') }}">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <form method="POST">
        <h1>Оцінка вартості нерухомості</h1>
        <div class="input-box" >
            <div class="resu">{{ result[0] }},{{ result[1] }}</div>
        </div>
    </form>
</div>

</body>
</html>
