<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <form method="POST">
        <h1>Оцінка вартості нерухомості</h1>
        <div class="input-box">
            <input type="number" step="1" min="1" max="50" name="floor" placeholder="Floor 1 - 50"
                   required>
        </div>
        <div class="input-box">
            <input type="number" step="1" min="1" max="50" name="metro" placeholder="Time to the metro 1 - 50"
                   required>
        </div>
        <div class="input-box">
            <input type="number" step="1" min="0" max="5" name="renovation" placeholder="Apartment renovation 0 - 5"
                   required>
        </div>
        <div class="input-box">
            <input type="number" step="1" min="15" max="120" name="area" placeholder="Area 15 - 120"
                   required>
        </div>
        <button type="submit" class="btn">Отримати результат</button>

    </form>
</div>

</body>
</html>
